:root {
    --x-color: #ff0000;
    --o-color: #ff0000;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board {
    width: 600px;
    height: 600px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    background: black;
}

.game-row {
    display: flex;
    flex-grow: 1;
}

.game-square {
    flex-grow: 1;
    border-radius: 10px;
    border: none;
    margin: 5px;
    background-color: white;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

    .game-square:hover {
        box-shadow: 0px 0px 15px white;
        background: gray
    }


.game-square-x {
    flex-grow: 1;
    border-radius: 10px;
    border: none;
    margin: 5px;
    background-color: white;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
}

    .game-square-x::before,
    .game-square-x::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 4px;
        background-color: var(--x-color);
    }

.game-square-x::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.game-square-x::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}


.game-square-o {
    flex-grow: 1;
    border-radius: 10px;
    border: none;
    margin: 5px;
    background-color: white;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
}

.game-square-o::before,
.game-square-o::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border: 4px solid var(--o-color);
    border-radius: 50%;
    background-color: white;
}