@page "/game"

@inject IGameLogic GameLogic
@inject UserService UserService

<PageTitle>TicTacToe</PageTitle>

<MudText Typo="Typo.h5" Style="text-align: center" Class="mb-2">Willkommen beim TicTacToe in Blazor!</MudText>

<div class="game">
    <div class="game-board">
        @for (var row = 0; row < 3; row++)
        {
            <div class="game-row">
                @for (var col = 0; col < 3; col++)
                {
                    var squareId = row * 3 + col + 1;
                    var buttonClass = GetButtonClass(squareId);
                    <button type="button" class="@buttonClass" @onclick="@(() => OnClickSquare(squareId))"></button>
                }
            </div>
        }
    </div>
</div>

@code
{
    public List<int> pointsPlayerX { get; set; } = new();
    public List<int> pointsPlayerO { get; set; } = new();

    public Player CurrentPlayer { get; set; }

    private Dictionary<int, string> buttonClasses = new();

    protected override async Task OnInitializedAsync()
    {
        CurrentPlayer = Player.X;
    }

    private string GetButtonClass(int squareId)
    {
        if (buttonClasses.ContainsKey(squareId))
        {
            return buttonClasses[squareId];
        }
        return "game-square";
    }

    private void OnClickSquare(int squareId)
    {
        var newButtonClass = CurrentPlayer == Player.X ? "game-square-x" : "game-square-o";

        if (buttonClasses.ContainsKey(squareId))
        {
            buttonClasses[squareId] = newButtonClass;
        }
        else
        {
            buttonClasses.Add(squareId, newButtonClass);
        }

        if (CurrentPlayer == Player.X)
        {
            pointsPlayerX.Add(squareId);
        }
        else
        {
            pointsPlayerO.Add(squareId);
        }

        var result = GameLogic.CheckWinner(pointsPlayerO, pointsPlayerX);

        if (result == Player.O)
        {

        }

        if (result == Player.X)
        {
            
        }

        CurrentPlayer = CurrentPlayer == Player.X ? Player.O : Player.X;
    }
}