@page "/"

<PageTitle>TicTacToe</PageTitle>

<h3>Willkommen !</h3>

<div class="game">
    <div class="game-board">
        <div class="game-row">
            <button type="button" class="game-square">x</button>
            <button type="button" class="game-square">x</button>
            <button type="button" class="game-square">x</button>
        </div>
        <div class="game-row">
            <button type="button" class="game-square">x</button>
            <button type="button" class="game-square">x</button>
            <button type="button" class="game-square">x</button>
        </div>  
        <div class="game-row">
            <button type="button" class="game-square">x</button>
            <button type="button" class="game-square">x</button>
            <button type="button" class="game-square">x</button>
        </div>
    </div>
</div>




@code
{
    protected override async Task OnInitializedAsync()
    {

    }
}