@inject NavigationManager NavigationManager
@inject UserService UserService
@inject ISnackbar Toaster

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TicTacToe Blazor</a>
    </div>
</div>

<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-cog" aria-hidden="true"></span> Settings
            </NavLink>
            
            <NavLink class="nav-link" @onclick="OnClickGame"  Match="NavLinkMatch.All">
                <span class="oi oi-brush" aria-hidden="true"></span> Game
            </NavLink>

            <NavLink class="nav-link" href="/highscore" Match="NavLinkMatch.All">
                <span class="oi oi-monitor" aria-hidden="true"></span> Highscore
            </NavLink>
        </div>
    </nav>
</div>

@code
{
    private void OnClickGame()
    {
        if (!UserService.HasValue())
        {
            Toaster.Add("No Settings", Severity.Warning);
            return;
        }

        NavigationManager.NavigateTo("/game");
    }
}
